  </div>
  <footer class="footer">
    <div class="container">
      <a class="scroll-to-top" id="toTop" href="#">
        <i class="fas fa-angle-up"></i>
      </a>
      <img src="/public/images/logoMET.png" alt="MET Group SAS" srcset="">
    </div>
  </footer>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/public/javascripts/custom.js?v=1"></script>
  <script>
    $(function() {
      $('.pop').on('click', function() {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');   
      });		
    });
  </script>
    
</body>

</html>