  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/public/javascripts/x0popup.min.js"></script>
  <script src="/public/javascripts/videojs-ie8.min.js"></script>
  <script src="/public/javascripts/video.js"></script>
  <script src="/public/javascripts/alertify.min.js"></script>
  <script type="text/javascript">
    window.onerror = function (message, file, line) {
      console.log(message + " in " + file + " at line " + line);
    };
  </script>
</body>

</html>