<div class="row">
  <div class="col s12 m3">
    <img src="/public/images/SITP.jpg" class="responsive-img" alt="Muestra">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo culpa provident unde aspernatur debitis recusandae consectetur alias quasi quam dolor, ab veniam id deserunt laudantium quos. Harum quisquam veniam laudantium dolorem? Cum fugit placeat iure repellendus soluta. Maiores inventore praesentium porro vitae quisquam molestias minus atque ea quae, vero officiis.</p>
    <a class="btn waves-effect waves-light" href="/video">Películas</a>
  </div>
  <div class="col s12 m6">
    <img src="/public/images/met.jpg" class="responsive-img" alt="Muestra">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo culpa provident unde aspernatur debitis recusandae consectetur alias quasi quam dolor, ab veniam id deserunt laudantium quos. Harum quisquam veniam laudantium dolorem? Cum fugit placeat iure repellendus soluta. Maiores inventore praesentium porro vitae quisquam molestias minus atque ea quae, vero officiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos mollitia porro fuga consequatur officia, facere fugiat quidem perferendis amet? Voluptatem?</p>
  </div>
  <div class="col s12 m3">
    <img src="<%= directoryPath + '/' + folderName + '/' + movieImage%>" class="responsive-img" alt="Muestra">
  <h3><%= folderName %></h3>
  <p><%= synopsis %></p>
  <a class="btn waves-effect waves-light" href="/video/<%= folderName %>">Ver</a>
  </div>
</div>