<footer class="page-footer">
  <div class="container">
    <a class="scroll-to-top" id="toTop" href="#">
      <i class="fas fa-angle-up"></i>
    </a>
    <img src="/public/images/logoMET.png" alt="MET Group SAS" srcset="">
  </div>
</footer>