<div class="informer" id="message-display" style="display: none;">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <div class="row">
          <div class="col s1 m1 l1 xl1">
            <img src="public/images/logotmsa.png" class="informer-logo">
          </div>
          <div class="col s11 m11 l11 xl11 text-container" id="scroller">
            <div class="rotating-text" id="information-target"><%- message %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
