<nav class="black" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li><a class="left" href="/"><span>Inicio</span></a></li>
      <li><a href="/video"><span>Peliculas</span></a></li>
      <li><a href="/music"><span>Música</span></a></li>
      <li><a href="/images"><span>Imagenes</span></a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons md-36 md-light">menu</i></a>
  </div>
</nav>
<ul id="nav-mobile" class="sidenav">
  <li class="logo"><img class="img-fluid" alt="" src="/public/images/logosmall.png"></li>
  <li><a href="/"><span>Inicio</span></a></li>
  <li><a href="/video"><span>Peliculas</span></a></li>
  <li><a href="/music"><span>Música</span></a></li>
  <li><a href="/images"><span>Imagenes</span></a></li>
</ul>
