<nav role="navigation">
  <div class="nav-wrapper container">
    <a href="#" data-target="nav-mobile" class="sidenav-trigger show-on-large"><i class="material-icons md-36 md-light">menu</i></a>
  </div>
</nav>
<ul id="nav-mobile" class="sidenav">
  <li class="logo"><img class="img-fluid" alt="" src="/public/images/logo.png"></li>
  <li><a href="/"><span><i class="material-icons md-light">home</i> Inicio</span></a></li>
  <li><a href="/video"><span><i class="material-icons md-light">video_library</i> Series / Documentales</span></a></li>
  <li><a onclick="exitModal(event)"><span><i class="material-icons md-light">close</i> Salir</span></a></li>
  <li class="logo"><img class="img-fluid" alt="" src="/public/images/logoMET.png"></li>
</ul>
