<nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
  &nbsp;&nbsp;
  <a class="navbar-brand mr-1" href="/"><img class="img-fluid" alt="" src="/public/images/logosmall.png"></a>
  <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
    <li class="nav-item mx-1">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li class="nav-item mx-1">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Multimedia
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="nav-link" href="/video">
            <i class="fas fa-fw fa-video"></i>
            <span>Peliculas</span>
          </a>
          <a class="nav-link" href="/music">
            <i class="fas fa-fw fa-music"></i>
            <span>Música</span>
          </a>
          <a class="nav-link" href="/images">
            <i class="fas fa-fw fa-images"></i>
            <span>Imagenes</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</nav>