<div class="video-container" id="video-container-div">
  <video id="video-player-annoucements" class="responsive-video" onended="videoAndMap('<%- files %>');" style="display: block;" controls controlsList="nodownload" disablePictureInPicture autoplay> 
    <source src="/video/adds/<%= file %>" type="video/mp4"> 
  </video>
  <div class="map-container" style="display: none;" id="mapid"></div>
  <%- include partials/informer %>
</div>
