<div class="row announcer">
  <div class="col s4 m4 l4 left-box">
    <div class="container videos-announcer">
      <div class="annoucements-colored" id="annoucements">
        <h4 class="center">Siguiente Estación</h4>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card news">
              <div class="card-content black-text">
                <p class="center" id="route-content-0"><b>Estación 0</b></p>
              </div>
            </div>
          </div>
        </div>
        <h4 class="center">Anuncios</h4>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card news">
              <div class="card-content black-text">
                <p class="center" id="route-content-1"><b>Lorem ipsum dolor sit amet. 1</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card news">
              <div class="card-content black-text">
                <p class="center" id="route-content-2"><b>Lorem ipsum dolor sit amet. 2</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card news">
              <div class="card-content black-text">
                <p class="center" id="route-content-3"><b>Lorem ipsum dolor sit amet. 3</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="announcer-logo center">
        <img src="/public/images/logo.png" alt="Transmilenio">
      </div>
    </div>
  </div>
  <div class="col s8 m8 l8">
    <div class="container video-player videos-announcer">
      <video id="video-player-annoucements" class="responsive-video" controls disablePictureInPicture controlsList="nodownload" autoplay> 
        <source src="/video/<%= folderName %>/<%= file %>" type="video/mp4"> 
      </video>
    </div>
  </div>
</div>