<div class="video-container">
  <video id="video-player-annoucements" class="responsive-video" onended="videoAndMap('<%- files %>');" style="display: block;" controls controlsList="nodownload" disablePictureInPicture muted autoplay> 
    <source src="/video/adds/<%= file %>" type="video/mp4"> 
  </video>
  <div class="map-container" style="display: none;" id="mapid"></div>
  <div class="informer" id="message-display" style="display: none;">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s1 m1 l1 xl1">
              <img src="public/images/logotmsa.png" class="informer-logo">
            </div>
            <div class="col s11 m11 l11 xl11 text-container" id="scroller">
              <div class="rotating-text" id="information-target">Bienvenidos a Transmilenio. Qué tengan un excelente viaje.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>