<div class="row">
  <div class="logo center">
    <img class="img-fluid" alt="" src="/public/images/logo.png">
  </div>
  <div class="col s12 m12 l12 login-form-container">
    <div class="card z-depth-10">
      <div class="card-content white-text">
        <span class="card-title center-align">TransMiTeConecta</span>
        <div class="center error">
          <h2>404</h2>
          <p>Recurso no encontrado en la plataforma</p>
          <p>Registrate <a href="/login" class="border-link">aqui</a> y navega en internet</p>
        </div>
        <div class="right">
          <a href="/help" class="border-link">Ayuda</a>
        </div>
      </div>
    </div>
  </div>
</div>