<div class="top-img">
  <img src="/public/images/background.jpg" alt="Background" class="image-resposive">
  <div class="over-back">
    <div class="container terms">
      <h1 class="flow-text terms center-align"><span class="material-icons">arrow_back</span><a href="javascript:history.back()" class="border-link">Volver</a>Ayuda</h1>
    </div>
  </div>
  <div class="container help-content">
    <p class="flow-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, repellat error! Laudantium expedita obcaecati officiis maiores at ratione sed dolores.
    </p>
    <ul class="collapsible black">
      <li>
        <div class="collapsible-header help">¿Cómo conectarse?<i class="material-icons">add</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, natus excepturi. Eum itaque unde aut magni aspernatur sunt, nobis tempore.</span></div>
      </li>
      <li>
        <div class="collapsible-header help">Salir de mi perfil<i class="material-icons">add</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, natus excepturi. Eum itaque unde aut magni aspernatur sunt, nobis tempore.</span></div>
      </li>
      <li>
        <div class="collapsible-header help">Contacte un operador<i class="material-icons">add</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, natus excepturi. Eum itaque unde aut magni aspernatur sunt, nobis tempore.</span></div>
      </li>
    </ul>
  </div>
</div>