<%- include partials/slider %>
<div>
  <h5 class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, mollitia voluptatibus natus illum fugiat minima?</h5>
</div>  
<%- include partials/content %>