<%- include includes/header %>
  <%- include includes/slider %>
  <div class="border-top my-3"></div>
  <div class="w-25 centered">
    <h4 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, mollitia voluptatibus natus illum fugiat minima?</h4>
  </div>  
  <div class="border-top my-3"></div>
  <%- include includes/content %>
<%- include includes/footer %>
