<div class="row">
  <div class="logo center">
    <img class="img-fluid" alt="" src="/public/images/logo.png">
  </div>
  <% include ./partials/messages %>
  <div class="col s12 m12 l12 login-form-container">
    <div class="card z-depth-10">
      <div class="card-content white-text">
        <span class="card-title center-align">TransMiTeConecta</span>
        <form lang="es" class="login-form" autocomplete="off" action="/login" method="post">
          <div class="row form">
            <div class="input-field text-input col s5 m5 l5 offset-s1 offset-m1 offset-l1">
              <label class="select-label text-label">*</label>
              <input type="text" name="name" placeholder="Nombre" id="uname" required>
            </div>
            <div class="input-field col s5 m3 l5">
              <select class="validate browser-default" name="age" id="user_age" required> 
                <option value="" disabled selected>Edad</option>
                <option value="12-18">12-18</option>
                <option value="19-25">19-24</option>
                <option value="25-34">25-34</option>
                <option value="35-60">35-60</option>
                <option value="61+">61+</option>
              </select>
              <label class="select-label">*</label>
            </div>
          </div>
          <div class="row form">
            <div class="input-field col s5 m5 l5 offset-s1 offset-m1 offset-l1">
              <select class="validate browser-default" name="gender" id="user_genre" required> 
                <option value="" disabled selected>Género</option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
                <option value="none">No aplica</option>
              </select>
              <label class="select-label">*</label>
            </div>
            <div class="input-field col s5 m5 l5">
              <select class="validate browser-default" name="study" id="user_scholar" required> 
                <option value="" disabled selected>Nivel Educativo</option>
                <option value="elementary">Primaria</option>
                <option value="bachelor">Bachillerato</option>
                <option value="technical">Técnico</option>
                <option value="technologist">Tecnólogo</option>
                <option value="college">Pregrado</option>
                <option value="postgraduate">Posgrado</option>
              </select>
              <label class="select-label">*</label>
            </div>
          </div>
          <div class="row form">
            <div class="input-field col s5 m5 l5 offset-s1 offset-m1 offset-l1">
              <select class="validate browser-default" name="occupation" id="user_labor" required>
                <option value="" disabled selected>Ocupación</option>
                <option value="student">Estudiante</option>
                <option value="employee">Empleado</option>
                <option value="housewife">Amo de casa</option>
              </select>
              <label class="select-label">*</label>
            </div>
          </div>
          <div class="input-field">
            <p class="left-align">
              <label><span class="red-colored">*</span> Campos obligatorios</label>
            </p>
            <p class="right-align">
              <label class="remember">
                <input type="checkbox" class="filled-in"/>
                <span>Recordar datos</span>
              </label>
            </p>
            <p>
              <label class="terms-and-conditions">
                <input type="checkbox" id="terms-conditios" class="filled-in" required/>
                <span>Acepto los <a href="/terms" class="border-link">terminos y condiciones</a> de TRANSMILENIO S.A.</span>
              </label>
            </p>
          </div>
          <div class="input-field center">
            <button type="submit" class="btn submit-btn">Empezar</button>
          </div>
        </form>
        <div class="right">
          <a href="/help" class="border-link">Ayuda</a>
        </div>
      </div>
    </div>
  </div>
</div>