<div class="row">
  <div class="logo center">
    <img class="img-fluid" alt="" src="/public/images/logo.png">
  </div>
  <div class="col s12 m12 l12 login-form-container">
    <div class="card z-depth-10">
      <div class="card-content white-text">
        <span class="card-title center-align">TransMiTeConecta</span>
        <form class="login-form">
          <div class="row form">
            <div class="input-field col s5 m5 l5 offset-s1 offset-m1 offset-l1">
              <select class="validate" required> 
                <option value="" disabled selected>Tipo de viajero</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label class="select-label">*</label>
            </div>
            <div class="input-field col s5 m3 l5">
              <select class="validate" required> 
                <option value="" disabled selected>Estrato</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label class="select-label">*</label>
            </div>
          </div>
          <div class="row form">
            <div class="input-field col s3 m2 l2 offset-s3 offset-m4 offset-l4">
              <select class="validate" required> 
                <option value="" disabled selected>Edad</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label class="select-label">*</label>
            </div>
            <div class="input-field col s5 m5 l5">
              <select class="validate" required>
                <option value="" disabled selected>Sexo</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label class="select-label">*</label>
            </div>
          </div>
          <div class="input-field">
            <p class="left-align">
              <label><span class="red-colored">*</span> Campos obligatorios</label>
            </p>
            <p class="right-align">
              <label class="remember">
                <input type="checkbox" class="filled-in"/>
                <span>Recordar datos</span>
              </label>
            </p>
            <p>
              <label class="terms-and-conditions">
                <input type="checkbox" class="filled-in"/>
                <span>Acepto los <a href="/terms" class="border-link">terminos y condiciones</a> de TRANSMILENIO S.A.</span>
              </label>
            </p>
          </div>
          <div class="input-field center">
            <button type="submit" class="btn submit-btn">Empezar</button>
          </div>
        </form>
        <div class="right">
          <a href="/help" class="border-link">Ayuda</a>
        </div>
      </div>
    </div>
  </div>
</div>