<div class="center">
  <h3><%= folderName %></h3>
</div>
<div class="row">
  <div class="col sm12 m12">
    <video id="videoPlayer" class="responsive-video" controls disablePictureInPicture controlsList="nodownload" autoplay> 
      <source src="/video/<%= folderName %>/<%= file %>" type="video/mp4"> 
    </video>
  </div>
  <div class="col sm12 m12">
    <p>
      <%= synopsis %>
    </p>
  </div>
</div>