body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  height: 100%;
  min-height: 100%;
  top: 0;
}
h1 {
  color: #FFDF1D;
}
nav {
  width: 100%;
}
nav .container ul li>a {
  color: #FFDF1D;
}
.sidenav {
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.sidenav li>a {
  color: #FFDF1D;
  width: auto;
}
.sidenav li>a:hover {
  color: #f3f3f3;
}
.sidenav li.logo {
  text-align: center;
}
.sidenav li>img {
  width: 6rem;
}
nav .sidenav-trigger {
  margin: 0;
}
.sidenav-trigger i.material-icons.md-36.md-light{
  background: #fff;
  padding: 0.3rem;
  text-align: center;
  display: inline;
  border-radius: 50%;
  color: #000;
  font-weight: 900;
}
.slider .indicators .indicator-item.active {
  background-color: #FFDF1D;
}