body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  min-height: 100%;
  top: 0;
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('MYRIADPRO-SEMIBOLD.woff') format('woff');
}
h1, h2, h4 {
  color: #FFDF1D;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: transparent !important;
}
nav .container ul li>a {
  color: #FFDF1D;
}
.container.principal {
  z-index: 2;
  padding-top: 1.5rem;
}
.sidenav {
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.sidenav li>a {
  color: #FFDF1D;
  width: auto;
}
.sidenav li>a:hover {
  color: #f3f3f3;
}
.sidenav li.logo {
  text-align: center;
}
.sidenav li>img {
  width: 6rem;
}
nav .sidenav-trigger {
  margin: 0;
}
.sidenav-trigger i.material-icons.md-36.md-light{
  background: #fff;
  padding: 0.3rem;
  text-align: center;
  display: inline;
  border-radius: 50%;
  color: #000;
  font-weight: 900;
}
.slider .indicators .indicator-item.active {
  background-color: #FFDF1D;
}
.card .card-image .card-title.flow-text {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0;
}
.card .card-image .card-title.flow-text.gradient {
  pointer-events: none;
  padding-top: 3rem;
  display: block;
  width: 100%;
  background-color: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1.0) 100%);
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,1.0) 100%);
  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,1.0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#cc000000', GradientType=0);
}
.card .blurred img{
  filter: brightness(60%);
}
.card .card-image .card-title {
  width: 100%;
}
.card .card-image .card-title a {
  float: right;
}
.card .card-image .card-title a>i{
  color: #fff;
  font-size: 4rem;
}
.card .card-content .movie-name{
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  white-space: initial;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.scrolling-wrapper .card-scroll {
  width: 20rem;
  display: inline-block;
}
.scrolling-wrapper .card-scroll .card .card-content audio {
  width: -webkit-fill-available;
}
div.main-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.index-title {
  color: #FFDF1D;
}
#modalExit .modal-content {
  font-size: 1.5rem;
}
#modalExit, #modalExit .modal-footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#modalExit .modal-footer .btn{
  color: white;
  border: 1px solid #fff;
  border-radius: 0.67rem;
}
#modalExit .modal-footer .btn:hover{
  background-color: rgba(0, 0, 0, 1);
}
.background-image {
  position: fixed;
  display: block;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.card {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.65rem;
}
.login-form-container .card .card-content .card-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
} 
.btn.submit-btn {
  font-weight: 600;
  background-color: transparent;
  border-radius: 0.65rem;
  border: 2px solid #fff;
}
.input-field .select-wrapper {
  font-weight: 600;
  background-color: transparent;
  border-radius: 0.65rem;
  border: 2px solid #fff;
}
.input-field .select-wrapper input {
  color: #fff;
  padding: 0.3rem;
  border-bottom: none;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.input-field input[type=number] {
  font-weight: 600;
  background-color: transparent;
  border-radius: 0.65rem;
  border-bottom: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.3rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.9rem;
}
.input-field .select-wrapper input:active, .input-field .select-wrapper input:visited {
  border-bottom: none;
}
.input-field .select-wrapper ul {
  background-color: rgba(0, 0, 0, 0.7);
}
.input-field .select-wrapper ul li span {
  color: #fff;
  font-weight: 700;
}
.input-field p label {
  color: #fff;
}
.input-field p label.remember {
  font-weight: 700;
}
.input-field .select-label {
  left: auto !important;
  right: 0.5rem;
  font-weight: 700;
  color: #b4252d;
}
.input-field.text-input input[type=text] {
  color: #fff;
  border: 2px solid white;
  border-radius: 0.65rem;
  height: 2.5rem;
}
.input-field.text-input input[type=text]::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 0.3rem;
}
.red-colored {
  font-weight: 900;
  color: #b4252d;
}
.border-link {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.row.form {
  margin-bottom: 0;
}
.terms-and-conditions {
  font-size: 2rem;
}
.row .logo {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.row .logo .img-fluid {
  width: 6rem;
}
div.terms {
  border-bottom: 1px solid #fff;
}
h1.terms {
  color: #fff;
}
h1.terms a, h1.terms span {
  float: left;
}
h1.terms a {
  font-size: 0.8rem;
  font-weight: 700;
}
h1.terms span {
  font-size: 1rem;
  font-weight: 100;
}
.top-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-size: cover;
  text-align: center;
  z-index: 1;
}
.top-img img {
  width: 100%;
  height: 17rem;
  z-index: 1;
  filter: brightness(60%);
}
.over-back {
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: -6.2rem;
  background-color: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1.0) 100%);
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,1.0) 100%);
  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,1.0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#cc000000', GradientType=0);
}
.help-content {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
.help-content .flow-text {
  font-size: 1rem;
}
.collapsible-header.help {
  background: black;
  overflow: auto;
}
@media only screen and (max-width: 720px) {
  .collapsible-header.help i {
    position: absolute;
    right: 0.8rem;
  }
}
.video-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: 0;
}
.video-container video, .video-container .map-container {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.video-container .map-container {
  position: relative;
  top: 4.5rem;
  height: 52rem;
  z-index: 1;
}
.video-container .informer {
  position: fixed;
  min-width: 100%;
  z-index: 2;
  bottom: 0.7rem;
}
.informer .card {
  font-family: 'Myriad Pro Semibold';
  width: 98%;
  height: 7rem;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgba(115, 115, 115, 0.9);
}
.informer .card .card-stacked .card-content {
  padding: 0.5rem;
}
.informer .card .card-stacked .card-content .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
.informer .card .card-stacked .card-content .row .col.text-container {
  overflow: hidden;
}
.informer .card .card-stacked .card-content .row .col .rotating-text {
  font-size: 2rem;
  z-index: 1;
  color: #F9EC35;
  overflow: auto;
  height: 2.5rem;
  line-height: 2.5rem;
  scroll-behavior: smooth;
}
.informer .card .card-stacked .card-content .row .col .informer-logo {
  width: 5rem;
  right: 0;
  z-index: 2;
}
.error p {
  font-weight: 700;
  font-size: 1rem;
}
.video-text {
  font-size: 1rem !important;
  font-weight: 400;
  text-align: justify;
}
.back-link-media, .play-button {
  position: relative;
  z-index: 2;
}
.play-button {
  width: 100%;
}
.play-button a {
  float: right;
  margin-top: 8rem;
}
.play-button a i {
  color: #fff;
  font-size: 4rem;
}
.series-top {
  font-size: 2rem;
  color: #FFDF1D;
}
.center-margin {
  margin-top: 8rem;
}